.button-main {
  border-radius: 0;
  color: #fff;
  background-color:#0060bf;
  font-size: 18px;
  height: 46px;
  padding: 0.375rem 0.5rem;
  width: 100%;
}

.img-dropdown-icon {
  height: 30px;
  margin: 10px 0;
  border: 0;
}
