.login-bo-container {
  max-width: 848px;
  margin: 0 auto;
}

.border-description-styled {
  border-left: 3px solid #0060BF;
  padding: 15px;
}

.tab-width {
  width: 212px;
}

.margin-bottom-section {
  margin-bottom: 65px;
}
