/* bootstrap overrides */
*, ::after, ::before {
  /* -webkit-box-sizing: border-box; */
  /* box-sizing: border-box; */
  box-sizing: unset; 
}

/** BASE **/
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fafafa;
}

.shadow-bo {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.main-box-bo {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: 740px; }

.img-dropdown-icon {
  height: 20px;
  margin: 10px 0;
  border: 0; }

p.logo-header img {
  height: 130px; }

.white {
  background-color: #ffffff; }

.danger-light {
  color: #F73E5A;
  font-weight: 500; }

.danger-dark {
  color: #F73E5A;
  font-weight: 600; 
}

.error-feedback {
  border-bottom: 1px solid #d9364f;
}

.error-feedback-text {
  border-bottom: 1px solid #d9364f;
}

/* media */
@media (max-width: 992px) {
  .scrollbar .nav-tabs {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    justify-content: unset !important; } 
}

/** COMPONENTS **/
.button-main {
  border-radius: 0;
  color: #fff;
  background-color: #0060BF;
  font-size: 18px;
  height: 46px;
  padding: .375rem .5rem;
  width: 100%; 
}

.button-center {
  display: flex!important;
  align-items: center;
  justify-content: center;
}

.button-login-w {
  width: 100% !important;
}

.img-dropdown-icon {
  height: 30px;
  margin: 10px 0;
  border: 0; 
}

.header-logo-login {
  margin-top: 60px;
  margin-bottom: 60px; 
}

.login-bo-container {
  max-width: 1040px;
  margin: 0 auto; 
}

.border-description-styled {
  border-left: 3px solid #0060BF;
  padding: 15px; 
}

.tab-width {
  width: 212px; 
}

.margin-bottom-section {
  margin-bottom: 65px; 
}
